ul {
    padding: 0;
    list-style-type: none;
}
.table {
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
.verticalText {
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    transform: rotate(-90deg) translate(-50%, -50%);
    transform-origin:0 0;
    position: absolute;
}
tr {
    height: 45px;
}
tr>td {
    width: 150px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
tr>td:first-child {
    border-left: 1px solid #ddd;
}
tr>.small {
    width: 37px;
}
tr>.scroller {
    width: 13px;
}
tr>.edge {
    width: 400px;
    border-right: 0 solid #ddd;
}
thead>tr {
    position: relative;
    height: 133px;
}
thead>tr>td {
    height: 130px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.scroller-y {
    position: absolute;
    display: block;
    overflow-y: scroll;
    height: 450px;
    width: 965px;
}
.resources {
    width: 1005px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    background-color: grey;
    white-space: nowrap;
}
.resources>span {
    display: inline-block;
    width: 33%;
}
.end-season-button {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    text-align: center;
}
.end-season-button>span {
    background-color: grey;
    color: blue;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
}
.end-season-button>:hover {
    background-color: LightGrey;
    color: black;
    cursor: pointer;
}
.actionshead {
    width: 415px;
}
.actions {
    width: 400px;
}
.wrapper {
    height: 100%;
}

.timer {
    margin-left: auto;
    margin-right: auto;
    width: 205px;
    text-align: left;
}
.timer-field {
    width: 35px;
}
.inline {
    display: inline-block;
    padding-right: 5px;
}
.command-remove {
    display: inline-block;
    padding-right: 20px;
}
